# VS Code Config #
##################
.vscode/
p6-capstone.code-workspace

# Report #
##########
report/

# Others #
##########
exp*.ipynb
__pycache__/

# Data #
########
data/wos.p

# test.py #
###########
test.py