# VS Code Config #
##################
.vscode/
p6-capstone.code-workspace

# API Key(s) #
##############
etl/transform/config.py

# Report #
##########
report/

# Others #
##########
exp*.ipynb
__pycache__/

# Data #
########
data/wos.p
data/wos.db

# test.py #
###########
test.py